.specificMovieContainer main {
    margin: 50px;
    width: 100%;
    min-width: 60%;
    max-width:60%;
    font-size: 18px;
}

.specificMovieContainer main span {
    margin-top: 15px;
    justify-content: space-between;
}

.specificMovieContainer main article + article {
    padding-left: 15px;
    margin-left: 15px;
    width: 100%;
}

.specificMovieContainer main article + article h1 {
    font-size: 1.5em;
    margin: 10px 0;
}

.specificMovieContainer main article + article h1 + * {
    margin-bottom: 10px;
    font-size: 1.2em;
}

.specificMovieContainer main article + article h1 + span {
    text-align: justify;
}


.specificMovieContainer section {
    width: 100%;
}

.specificMovieContainer section header {
    position: relative;
    font-size: 36px;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
    padding-bottom: 15px;
    width: 100%;
    border-bottom: 2px solid #363636;
}

.specificMovieContainer section header div {
    position: absolute;
    left: 0;
    margin-left: 15px;
}

.specificMovieContainer form {
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom: 15px;
    border-bottom: 2px solid #363636;
    width: 100%;
}

.specificMovieContainer form input {
    box-sizing: border-box;
    width: 100%;
    color: #f1f1f1;
    font-size: 16px;
    line-height: 24px;
    background-color: inherit;
    border: 0;
    padding: 5px 15px;
}
.specificMovieContainer form button {
    background-color: transparent;
    border-radius: 4px;
    border: 2px solid var(--verde);
    padding: 5px 10px;
    margin: 10px;
}

.specificMovieContainer section div article {
    text-align: justify;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 2px solid #363636;
}


.specificMovieContainer section div article div:first-child {
    align-items: center;
}

.specificMovieContainer section div article i {
    font-size: 24px;
    cursor: pointer;
}

.specificMovieContainer section div article i:first-child{
    cursor: auto;
    margin: 0 15px 5px;
    font-size: 48px;
}

.specificMovieContainer section div article div + div.fColumn {
    width: 100%;
    margin-right: 15px;
}

.specificMovieContainer section div article div.fRow {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.fixedLink {
    padding: 0 10px 10px 10px !important;
}