@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@700&display=swap');
        
:root {
    --fundoMaisClaro: #363636;
    --fundoClaro: #242424;
    --fundoEscuro: #191919;
    --verdeEscuro: #141414;
    --verde: #43AB33;
}

a {
    text-decoration: none;
    color:inherit;
}

* {
    margin:0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #f1f1f1;
}

h1,h2 {
    font-family: 'Merriweather', serif;
}

button {
    color: #f1f1f1;
    border: 0;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    cursor:pointer;
    transition: 0.4s;
}

.fRow {
    display:flex;
    flex-direction: row;
}

.fColumn {
    display:flex;
    flex-direction: column;
}
.container {
    max-width:100%;
    width:100%;
    min-height:100vh;
}
.light {
    background-color: var(--fundoClaro);
}
.dark {
    background-color: var(--fundoEscuro);
}

.container > header.main {
    justify-content: space-between;
    align-items: center;
    padding: 2em 4em;
    box-sizing: border-box;
}

header.main h1 {
    font-size: 2em;
    margin-right: 1em;
}

header.main button {
    padding: 0.7em 1.6em;
    background-color:  transparent;
}

header.main button:hover {
    opacity: 0.7;
}

header.main button.active {
    color: black;
    background-color: var(--verde);
    border-radius: 2px;
}

button.btnIcon {
    display: flex;
    align-items: center;
    padding: 0.7em 1.6em;
    background-color: var(--verde);
    margin-right: 1em;
    border-radius: 8px;
    border: 2px solid var(--verde);
}

button.btnIcon i {
    font-size: 2em;
}