@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@700&display=swap');
        
:root {
    --fundoMaisClaro: #363636;
    --fundoClaro: #242424;
    --fundoEscuro: #191919;
    --fundoMaisEscuro: #141414;
    --verde: #43AB33;
}

a {
    text-decoration: none;
    color:inherit;
}

* {
    margin:0;
    padding: 0;
}

input:focus,
button:focus
{
    outline-offset: unset;
    outline: unset;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #f1f1f1;
}

h1,h2 {
    font-family: 'Merriweather', serif;
}

button {
    color: #f1f1f1;
    border: 0;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    cursor:pointer;
    transition: 0.4s;
}

.fRow {
    display:flex;
    flex-direction: row;
}

.fColumn {
    display:flex;
    flex-direction: column;
}
.container {
    max-width:100%;
    width:100%;
    min-height:100vh;
}
.light {
    background-color: var(--fundoClaro);
}
.dark {
    background-color: var(--fundoEscuro);
}

.container > header.main {
    justify-content: space-between;
    align-items: center;
    padding: 2em 4em;
    box-sizing: border-box;
}

header.main h1 {
    font-size: 2em;
    margin-right: 1em;
}

header.main button {
    padding: 0.7em 1.6em;
    background-color:  transparent;
}

header.main button:hover {
    opacity: 0.7;
}

header.main button.active {
    color: black;
    background-color: var(--verde);
    border-radius: 2px;
}

button.btnIcon {
    display: flex;
    align-items: center;
    padding: 0.7em 1.6em;
    background-color: transparent;
    margin-right: 1em;
    border-radius: 8px;
    border: 2px solid var(--verde);
}

button.btnIcon:hover {
    color: black;
    border: 2px solid var(--fundoMaisEscuro);
    background-color: var(--verde);
}

button.btnIcon i {
    margin-left: 10px;
    font-size: 2em;
}

footer.page {
    width: 100%;
    margin-top: 50px;
	background-color: var(--fundoMaisEscuro);
	align-items: center;
}

footer.page > button {
	width: 100%;
	margin: 0;
	border: 0;
	border-radius: 0;
	padding: 20px 0;
	background-color: transparent;
	font-size: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
}

footer.page > button:hover {
	color: #f1f1f1;
	opacity: 0.5;
	background-color: transparent;
}

