.gamesContainer main h1 {
    margin: 50px 0;
    align-self: center;
    font-size: 3em;
}

.gamesContainer div.grid {
    margin: 50px 0;
    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(3, 315px);
    gap: 30px;
    padding: 25px 50px;
    border-radius: 8px;
}

.gamesContainer div.grid figure img {
    border-radius: 16px;
    object-fit: cover;
}

.gamesContainer div.grid figure div {
    margin: 5px;
}

.gamesContainer div.grid figure strong {
    color: #5cff49;
    font-size: 1.3em;
    width: auto;
}

.gamesContainer div.grid figure strong:hover{
    text-decoration: underline;
}

.gamesContainer div.grid figure span {
    color: #ffccb1;
    margin-top: 2px;
}